{% extends "base.html" %}
{% load static %}
{% block head %}
<a href="{% url 'userManage:login' %}"><input type="button" value="Login/Register" name="login/register" id="login" onclick=""></a>
<p>home test</p>
<form action="/userManage/logout/" method="post" >
    {% csrf_token %}
    <input type="submit" id="logout" value="Logout">
</form>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCou8xeko0WL63aiJyMTfgKP7Y3DryfT2I&callback=initMap"
        type="text/javascript"></script>
<!--Local javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/test.js' %}"></script>

{% endblock head %}

{% block body %}


<!--ajax-->
<div id="div0">
    <h2>digital fence result</h2>
</div>
    <form action="/setupfence" method="post">
        {% csrf_token %}
        Point1(lat): <input type="text" name="q1_lat"><br>
        Point1(long): <input type="text" name="q1_long"><br>
        Point2(lat): <input type="text" name="q2_lat"><br>
        Point2(long): <input type="text" name="q2_long"><br>
        <button id="setup">setup digital fence</button>
    </form>

<div id="div1">
    <h2>digital fence result</h2>
</div>
<button id="getinfo">get digital fence</button>

<div id="div2">
    <h2>digital fence result</h2>
</div>
<button id="clear">clear  digital fence</button>

<div id="div3">
    <h2>pet position result</h2>
</div>
<button id="pet">pet position</button>


<!--ads-->
<div class= "ads">
    <img src="{% static 'img/petfood1.jpg' %}" class='imgg' alt="petfood1">
    <img src="{% static 'img/petfood2.jpg' %}" class='imgg' alt="petfood2">
    <img src="{% static 'img/petfood3.jpg' %}" class='imgg' alt="petfood3">
</div>
<h3>My Google Maps Demo</h3>

<!--The div element for the map -->
<div id="map"></div>


{% endblock body%}
