{% extends "base.html" %}
{% load static %}
{% block head %}
<a href="{% url 'userManage:login' %}"><input type="button" value="Login/Register" name="login/register" id="login" onclick=""></a>
<p>home test</p>
<form action="/userManage/logout/" method="post" >
    {% csrf_token %}
    <input type="submit" id="logout" value="Logout">
</form>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCou8xeko0WL63aiJyMTfgKP7Y3DryfT2I&callback=initMap"
        type="text/javascript"></script>
<!--Local javascript files-->
<script src="{% static 'javascript/map.js' %}"></script>

{% endblock head %}

{% block body %}

<!--digital fence-->
<!--set up digital fence-->
    <form action="/setupfence" method="post">
        {% csrf_token %}
        Point1(lat): <input type="text" name="q1_lat"><br>
        Point1(long): <input type="text" name="q1_long"><br>
        Point2(lat): <input type="text" name="q2_lat"><br>
        Point2(long): <input type="text" name="q2_long"><br>
        <input type="submit" name="setupfence" value="Submit">
    </form>
    <p>{{ rlt }}</p>

<!--get digital fence information-->
    <form action="/getfence" method="get">
        {% csrf_token %}
        <button type="submit" name="getfence">Digital Fence</button>
    </form>
    <p>{{ rlt2 }}</p>

<!--clear digital fence information-->
    <form action="/clearfence" method="get">
        {% csrf_token %}
        <button type="submit" name="clearfence">Clear Digital Fence</button>
    </form>
    <p>{{ rlt3 }}</p>

<!--get device information-->
    <form action="/petposition" method="get">
        {% csrf_token %}
        <button type="submit" name="petposition">Pet Position</button>
    </form>
    <p>{{ rlt4.lat }}</p>

<!--ads-->
<div class= "ads">
    <img src="{% static 'img/petfood1.jpg' %}" class='imgg' alt="petfood1">
    <img src="{% static 'img/petfood2.jpg' %}" class='imgg' alt="petfood2">
    <img src="{% static 'img/petfood3.jpg' %}" class='imgg' alt="petfood3">
</div>
<h3>My Google Maps Demo</h3>

<!--The div element for the map -->
<div id="map"></div>


{% endblock body%}
